body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#perfil_photo {
    border-radius: 50%;
    margin-left: 700px;
    text-align: right;
}

.info_pessoal {

    display: inline-flex;
    opacity: 0.8;

}

.container {
    border-style: 7px ridge rgb(179, 174, 174);

    width: 700px;

    padding: 1rem;
    margin: 3rem auto;
}

.info_pessoal {
    background-image: url(Imagens/Background_Curriculo.jpg);
    background-repeat: no-repeat;
    text-align: justify;
}

.container_info {
    background-image: url(Imagens/Background_3.jpg);
    text-align: justify;

}

.container_background {
    background-repeat: no-repeat;
    background-size: cover;
}